POSTGRES_DB=zinema_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

ObjectStorage__Endpoint=localhost:9000
ObjectStorage__AccessKey=minioadmin
ObjectStorage__SecretKey=minioadmin
ObjectStorage__BucketName=zinema-media
ObjectStorage__UseSsl=false
ObjectStorage__EnsureBucketExists=true
ObjectStorage__PublicBaseUrl=http://localhost:9000/zinema-media

MediaUpload__MaxFileSizeBytes=524288000

VideoProcessing__FfmpegPath=
VideoProcessing__OutputRoot=media-output/hls
VideoProcessing__EnableExecution=false
VideoProcessing__HlsSegmentDurationSeconds=6

Database__SeedOnStartup=false

Jwt__Issuer=Zinema.Local
Jwt__Audience=Zinema.Local
Jwt__SigningKey=development-only-signing-key-change-me-minimum-32-characters
Jwt__ExpirationMinutes=60

Auth__SeedDevelopmentAdmin=false
Auth__DevelopmentAdminEmail=
Auth__DevelopmentAdminPassword=
Auth__DevelopmentAdminDisplayName=Development Admin
